*{
  margin: 0;
  padding: 0;
}

.menu{
  background-color:  #6B2E38;
  display: flex; 
  align-items: center;
  justify-content: space-around;

}

.menu a{
  color: #f4eeed;
  text-decoration: none;
  transition: color 0.2s;
}

.logo{
  width: 150px;
}

.nav{
  display: flex;
  padding: 16px;
  color: white;
}

/* HOME */

.inicio{
  justify-content: center;
  align-items: center;
}

.inicio p{
  padding-top: 100px;
  font-size: 27px;
  font-family: 'Times New Roman';
  color: #6B2E38;
  text-align: center;
  margin: auto;
  width: 900px;
}

.moça{
  width: 530px;
  margin: auto;
  display: block;
  padding-top: 30px;
  padding-bottom: 60px;
}

.botao{
  color: beige;
  background-color: #6B2E38;
  margin: auto;
  display: block;
  width: 200px; 
  height: 50px;
  border-radius: 8px;
  margin-bottom: 80px;
}

.botao:hover{
  background-color: #380c13;
}

.inicio a{
  text-decoration: none;
}

/* FOOTER */

.baixo{
  background-color:  #6B2E38;
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.itens{
  padding: 16px;
}

.menu-nav{
  list-style:none;
  float:left;
}

.menu-nav li{
  position:relative;
  float:left;
}

.menu-nav li a{
  color: rgb(255, 255, 255); 
  text-decoration:none; 
  padding:5px 10px; 
  display:block;
}

.menu-nav li ul{
  border:1px solid #c0c0c0;
  display:block;
  width:150px; 
}

/* FALE CONOSCO */

.faleconosco{
  padding: 50px 24px 0;
  color: #6B2E38;
}

.faleconosco h2{
  margin-bottom: 32px;
  padding-left: 8px;
  border-left: 4px solid #380c13;
  color: #6B2E38;
}

.enviar{
  color: beige;
  background-color: #6B2E38;
  width: 130px; 
  height: 45px;
  border-radius: 8px;
  margin-bottom: 80px;
}

.enviar:hover{
  background-color: #380c13;
}

.forms a{
  text-decoration: none;
}

/* QUEM SOMOS */

.historia{
  margin: 64px 0 0;
  padding: 50px 24px 0;
  color: #6B2E38;
  margin-bottom: 80px;
}

.historia .container{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 2px solid #380c13;
}

.historia .container .coluna{
  flex: 1 1 350px;
}

.historia img{
  margin-left: 30px;
  width: 90%;
  display: block;
}

.historia h2{
  margin-bottom: 32px;
  padding-left: 8px;
  border-left: 4px solid #380c13;
  color: #6B2E38;
}

.historia p{
  line-height: 1.5;
  font-size: 16px;
  text-align: justify;
}

/* CHAT */

.chat-app {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 25%;
  background-color: #E3C6C6;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

.user-list {
  padding: 10px;
  background-color: #FFFEFE;
}

.user {
  padding: 15px;
  cursor: pointer;
  border-bottom: 1px solid #FFF5F5;
}

.user.selected {
  background-color: #e0e0e0;
  font-weight: bold;
}

.chat-container {
  width: 65%;
 padding: 50px;
  float: height;
  height: 820px;
  flex-direction: column;
}

.messages {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
  overflow-y: auto;
  border-bottom: 1px solid#ccc;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #e6e6e6;
  border-radius: 5px;
}

.input-container {
  display: flex;
  padding: 10px;
  background-color: #f5f5f5;
  border-top: 1px solid #ccc;
}

.input-container input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  outline: none;
}

.input-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #6B2E38;
  color: white;
  cursor: pointer;
}

.input-container button:hover {
  background-color: #380c13;
}

/* LOJAS */

.gallery{
  max-width: 1200px;
  margin: 64px auto 0;
  padding: 0 24px;
  margin-bottom: 20px;
}

.gallery-row{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-row div{
  width: 350px;
}

.gallery-row img{
  width: 100%;
  border-radius: 8px;
  margin-bottom: 16px;
}

.gallery p{
  text-align: center;
  font-weight: bold;
}

.lojas button{
  color: white;
  background-color: #6B2E38;
  width: 200px; 
  height: 50px;
  border-radius: 8px;
}

.procurar:hover{
  background-color: #380c13;
}

.pesquisar{
  width: 980px;
  border-radius: 8px;
  margin-right: 10px;
}


/* CADASTRO */

/* FORMCADASTRO.JS */
.form-box {
  padding: 59px;
  right: 55%;
  width: 450px;
  height: 560px;
  transform: translateX(50%);
  position: relative;
  background-color: #8C3F4C;
  margin-top: -30vh;
  border-radius: 1vh;
  
}
.texto {
  color: white;
  font-family: 'Lucida Sans';
  text-align: center;
}

.form-item-cad {
  display: flex;
  position: relative;
  top: 5px;
  font-weight: bold;
  margin-top: 35px;
}

.form-input {
  width: 550%;
  padding: 15px;
  border: 1px solid white;
  border-radius: 5vh;
  height: 40px;
}

.form-input, .form-button {
  margin-bottom: 15px;
  padding: 19px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.link-item1, .link-item2 {
  color: rgb(9, 151, 207)
}

.entrar-button {
  background-color: #6B2E38; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  text-align: center; 
  margin: 20px 0; 
  width: 300px;
  cursor: pointer; 
  border-radius: 5px; 
}

.entrar-button:hover {
  background-color: #b35464; /* Cor de fundo ao passar o mouse */
}


/* PGCADASTRO.JS */
.container {
  display: flex;
}

.left {
  background-color: white;
  flex: 5vh;
  padding: 200px;

}

.right{
  background-color: #6B2E38;
  flex: 1;
  padding: 500px;

}

.logo1 {
  position: relative;
  bottom: 80px;
}
.texto1{
  text-align: center;
  font-weight: 200;
  font-size: 28px;
  position: relative;
  bottom: 10vh;
}
.texto2{
  text-align: center;
  position: relative;
  bottom: -50px;
}
.texto3{
  text-align: center;
  position: relative;
  bottom: -130px;
  color: #6B2E38;
  font-family: 'Lucida Sans', 'Lucida Sans Regular';
}
